/*  Hero */
.hero-section {
  width: 100%;
  height: 140px;
  background: linear-gradient(135deg, #20B2AA, #2fafa2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.titulo-hero {
  font-size: 2.7rem;
  font-weight: 800;
}

.subtitulo-hero {
  font-size: 1.2rem;
  margin-top: 5px;
  opacity: 0.9;
}

.hero-content {
  text-align: center;
}

/*  Cards de servicio */
.servicio-card {
  border-radius: 18px;
  padding-top: 15px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: none;
  background: #cfeaec;
}

.servicio-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.15);
}

/* cono circular */
.icon-wrapper {
  width: 130px;
  height: 115px;
  border-radius: 50%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e0f2f1;
  box-shadow: inset 0 0 5px rgba(0,0,0,0.1);
}

.icono-servicio {
  width: 75%;
  height: 65%;
  object-fit: contain;
}

/* Bot贸n */
.btn-servicio {
  background: #00897b;
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
  color: white;
  font-weight: 600;
  transition: 0.3s;
}

.btn-servicio:hover {
  background: #00695c;
}

/* Descripci贸n */
.descripcion {
  min-height: 60px;
  font-size: 0.95rem;
}

/* Pr贸ximos servicios */
.proximo-card {
  background: #f5f5f5;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  font-weight: 600;
  transition: 0.3s;
  cursor: default;
}

.proximo-card:hover {
  background: #e0f7fa;
  transform: scale(1.05);
}

.titulo-seccion {
  color: #00796b;
  font-weight: 700;
}

/*  Bot贸n Volver */
.btn-volver {
  background-color: #ffffff;
  border: 2px solid #00897b;
  color: #00695c;
  padding: 8px 18px;
  border-radius: 25px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
  box-shadow: 0 3px 6px rgba(0,0,0,0.1);
}

.btn-volver:hover {
  background-color: #00897b;
  color: white;
  transform: translateX(-3px);
}


/* Animaciones */
@import 'https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css';


