<div class="perfil-page">

  <div class="perfil-container" *ngIf="!cargando">
<button class="btn-regresar" (click)="regresar()">
  ⬅ Regresar
</button>

    <h2 class="titulo">Mi Perfil</h2>

    <!-- AVATAR -->
    <div class="avatar-container">
      <div class="avatar">
        {{ iniciales }}
      </div>

      <button class="btn-foto" disabled>
        Próximamente: subir foto
      </button>
    </div>

    <!-- FORMULARIO -->
    <form [formGroup]="form" class="formulario">

      <label>Nombre</label>
      <input type="text" formControlName="nombre">

      <label>Apellidos</label>
      <input type="text" formControlName="apellidos">

      <label>Teléfono</label>
      <input type="text" formControlName="telefono">

      <label>Dirección</label>
      <input type="text" formControlName="direccion">

      <button (click)="guardar()" class="btn-guardar">
        💾 Guardar cambios
      </button>

    </form>

    <div *ngIf="mensaje" class="mensaje">
      {{ mensaje }}
    </div>

  </div>

  <div class="cargando" *ngIf="cargando">
    Cargando perfil...
  </div>

</div>









