/* Fondo y centrado perfecto */
.perfil-page {
  min-height: 100vh;          
  display: flex;
  justify-content: center;    
  align-items: center;        
  background: linear-gradient(135deg, #dff7f5, #33d4d4);
  padding: 40px 15px;         
  box-sizing: border-box;
}

/* TARJETA */
.perfil-container {
  margin-top: -24px;
  width: 100%;
  max-width: 450px;
  background: #ffffff;
  padding: 25px;
  border-radius: 25px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
}


/* Animación bonita */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(15px); }
  to { opacity: 1; transform: translateY(0); }
}

/* ---------- TÍTULO ---------- */
.titulo {
  text-align: center;
  margin-top: -10px;
  margin-bottom: 25px;
  color: #00695c;
  font-size: 25px;
  font-weight: bold;
}

/* ---------- AVATAR ---------- */
.avatar-container {
  text-align: center;
  margin-top: 1px;
  margin-bottom: 25px;
}

.avatar {
  width: 80px;
  height: 80px;
  background: #009688;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  font-weight: bold;
  margin: 0 auto 10px auto;
  box-shadow: 0px 4px 15px rgba(0,0,0,0.20);
}

.btn-foto {
  background: #04e6b5;
  border: none;
  padding: 7px 14px;
  border-radius: 8px;
  font-size: 14px;
  color: #000000;
  cursor: not-allowed;
}

/* ---------- FORMULARIO ---------- */
.formulario label {
  font-weight: bold;
  margin-top: 1px;
  display: block;
  color: #0f816e;
}

.formulario input {
  width: 100%;
  height: 2%;
  padding: 8px;
  border-radius: 10px;
  border: 1px solid #b2dfdb;
  margin-bottom: 12px;
  font-size: 16px;
  background: #fafafa;
}

/* ---------- BOTÓN GUARDAR ---------- */
.btn-guardar {
  width: 100%;
  background: #009688;
  color: white;
  padding: 14px;
  border-radius: 12px;
  font-size: 19px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.2s;
}

.btn-guardar:hover {
  background: #00796b;
  transform: scale(1.02);
}

/* ---------- MENSAJE ---------- */
.mensaje {
  margin-top: 20px;
  text-align: center;
  padding: 14px;
  border-radius: 10px;
  background: #e3f2fd;
  color: #0d47a1;
  font-size: 15px;
}

/* ---------- LOADING ---------- */
.cargando {
  text-align: center;
  font-size: 22px;
  padding: 40px;
}

.btn-regresar {
  background: transparent;
  border: none;
  color: #00796b;
  font-size: 18px;
  cursor: pointer;
  margin-bottom: 15px;
  font-weight: bold;
}

.btn-regresar:hover {
  color: #004d40;
  text-decoration: underline;
}





