.perfil {
  width: 500px;
  margin: auto;
  padding: 25px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

label {
  margin-top: 15px;
  font-weight: bold;
  display: block;
}

input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

button {
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  background: #007bff;
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.alerta {
  background: #cff5cf;
  padding: 10px;
  border-radius: 6px;
  text-align: center;
}


