
<footer class="text-center text-white" style="background-color: #1f2937;">
  <div class="container pt-4">
    <section class="mb-4">
      
      <a
        class="btn btn-outline-light btn-floating m-1"
        href="#!"
        role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>

      <a
        class="btn btn-outline-light btn-floating m-1"
        href="#!"
        role="button"
        ><i class="fab fa-instagram"></i
      ></a>

      <a
        class="btn btn-outline-light btn-floating m-1"
        href="#!"
        role="button"
        ><i class="fab fa-whatsapp"></i
      ></a>

    </section>
  </div>

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(255, 255, 255, 0.1);">
    © 2025 Copyright:
    <a class="text-white fw-bold text-decoration-none" href="#">servilocal.com</a>
  </div>
</footer>
